<ice:panelGrid columns="1" width="100%"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ice="http://www.icesoft.com/icefaces/component"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
		xmlns:c="http://java.sun.com/jstl/core">

		<!-- DataTable with 10 rows per page -->
		<ice:dataTable id="auditResultTable" var="record"
			value="#{auditTrailBean.searchResults}" 
			rows="#{auditTrailBean.searchResults.rowsPerPage}" scrollable="false"
			columnWidths="110px,100px,300px" cellpadding="0" style="background-color:white"
			columnClasses="hanDatatableElement,hanDatatableElementLeft,hanDatatableElementLeft"
			headerClasses="hanDatatableElement"
			width="100%">
			<ice:column>			
				<f:facet name="header">
					<ice:outputText id="column1"
						value="#{msgs['audittrail.search.column1.title']}" />
				</f:facet>
				<ice:outputText id="createdDate" value="#{record.datePerformed}">
					<f:convertDateTime pattern="#{msgs['han.date.format']}"
												   timeZone="#{msgs['han.time.zone']}" />
				</ice:outputText>
			</ice:column>

			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column2"
						value="#{msgs['audittrail.search.column2.title']}" />
				</f:facet>
				<ice:outputText id="groupName" value="#{record.user}" />
			</ice:column>

			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column3"
						value="#{msgs['audittrail.search.column3.title']}" />
				</f:facet>
					<ice:panelGrid columns="2">
						<ice:outputText id="description" value="#{record.actionPerformed.displayFormat}" />
						<ice:outputText value="&amp;nbsp; ID: #{record.alertId}" 
							rendered="#{not empty record.alertId}"
							escape="false"/>
					</ice:panelGrid>
			</ice:column>
		</ice:dataTable>
		
		<!-- DataPaginator displaying information about the currently displayed
	         page and location within the dataModel-->
		<ice:panelGroup>
			<ice:dataPaginator for="auditResultTable"
				rowsCountVar="rowsCount"
				displayedRowsCountVar="displayedRowsCountVar"
				firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex"
				pageCountVar="pageCount" pageIndexVar="pageIndex">
				<ice:outputFormat
					value="#{msgs['audittrail.panel2.search.results.summary']}">
					<f:param value="#{rowsCount}" />
					<f:param value="#{displayedRowsCountVar}" />
					<f:param value="#{firstRowIndex}" />
					<f:param value="#{lastRowIndex}" />
					<f:param value="#{pageIndex}" />
					<f:param value="#{pageCount}" />
				</ice:outputFormat>
			</ice:dataPaginator>
		</ice:panelGroup>
		
		<ice:dataPaginator
			for="auditResultTable" rendered="true" fastStep="3" pageIndexVar="pageIndex"
			paginator="true" paginatorMaxPages="4">
			<f:facet name="first">
				<ice:graphicImage 
					url="#{msgs['icefaces.paginator.first.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="last">
				<ice:graphicImage
					url="#{msgs['icefaces.paginator.last.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="previous">
				<ice:graphicImage
					url="#{msgs['icefaces.paginator.previous.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="next">
				<ice:graphicImage
					url="#{msgs['icefaces.paginator.next.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="fastforward">
				<ice:graphicImage
					url="#{msgs['icefaces.paginator.fastforward.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="fastrewind">
				<ice:graphicImage 
					url="#{msgs['icefaces.paginator.fastrewind.button.image']}"
					style="border:none;" />
			</f:facet>
		</ice:dataPaginator>
		
</ice:panelGrid>