<!--ui:component xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  xmlns:ui="http://java.sun.com/jsf/facelets"-->
	<ice:panelGroup width="100%" style="padding: 10px;"
			xmlns:f="http://java.sun.com/jsf/core"
			xmlns:h="http://java.sun.com/jsf/html"
			xmlns:ice="http://www.icesoft.com/icefaces/component"
			xmlns:ui="http://java.sun.com/jsf/facelets">		
		
		<ice:panelCollapsible id="formPanel" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="formHeader" value="#{msgs['audittrail.search.form.panel1.title']}"/>
                </ice:panelGroup>
            </f:facet>            
            <ice:panelGroup>
            	<ice:outputText value="#{msgs['audittrail.search.form.note.title']}" style="font-weight: bold"/>
            	<ice:outputText value="#{msgs['audittrail.search.form.note.text']}" />
                <ice:panelGrid columns="4" cellpadding="15px" cellspacing="15px" width="100%">
                    <!-- Start Date-->
                    <ice:outputLabel for="formStartDate"
                                     value="#{msgs['audittrail.search.form.field.startdate.text']}"/>
                    <ice:panelGroup> 
	                    <ice:selectInputDate id="formStartDate"
	                    		binding="#{auditTrailBean.startDateComp}"
								value="#{auditTrailBean.startDate}" 
								renderAsPopup="true"
								highlightClass="weekend"
                             	highlightUnit="DAY_OF_WEEK"
								highlightValue="1,7"
								label="#{msgs['audittrail.search.form.field.startdate.text']}">
                            <f:convertDateTime pattern="#{msgs['han.form.date.format']}"
								timeZone="#{msgs['han.time.zone']}" />	
						</ice:selectInputDate>
						<h:message style="color: red" for="formStartDate"/>
					</ice:panelGroup>
                    <!-- End Date-->
                    <ice:outputLabel for="formEndDate"
                                     value="#{msgs['audittrail.search.form.field.enddate.text']}"/>
                    <ice:panelGroup> 
	                    <ice:selectInputDate id="formEndDate"
	                    		binding="#{auditTrailBean.endDateComp}"
								value="#{auditTrailBean.endDate}" 
								renderAsPopup="true"
								highlightClass="weekend"
                             	highlightUnit="DAY_OF_WEEK"
								highlightValue="1,7"
								label="#{msgs['audittrail.search.form.field.enddate.text']}">
                            <f:convertDateTime pattern="#{msgs['han.form.date.format']}"
								timeZone="#{msgs['han.time.zone']}" />	
						</ice:selectInputDate>
						<h:message style="color: red" for="formEndDate"/>
					</ice:panelGroup>
                    
                    <!-- Performed by -->
                    <ice:outputLabel for="performedBy"
                                     value="#{msgs['audittrail.search.form.field.performedby.text']}"/>
                    <ice:inputText id="performedBy" value="#{auditTrailBean.performedBy}" style="width:150px;"
                    	binding="#{auditTrailBean.performedByComp}"/>
                    
                    <!-- Operation -->
                    <ice:outputLabel for="operation"
                                     value="#{msgs['audittrail.search.form.field.operation.text']}"/>
                    <ice:selectOneMenu id="operation"
	                        value="#{auditTrailBean.actionPerformed}"
	                        binding="#{auditTrailBean.actionPerformedComp}">
	                    <f:selectItems value="#{auditTrailBean.actions}"/>
	                </ice:selectOneMenu>
                    
                    <!-- Result -->
                    <!--ice:outputLabel for="result"
                                     value="#{msgs['audittrail.search.form.field.result.text']}"/>
                    <ice:inputText id="result" value="#{auditTrailBean.result}"/-->
                </ice:panelGrid>
                <br/>
                <ice:panelGrid columns="2" cellpadding="15px">
                	<ice:commandButton id="SubmitBtn"
                    	   type="submit"
                           value="#{msgs['audittrail.search.form.field.submit.text']}"
                           actionListener="#{auditTrailBean.searchButtonListener}"/>      
                    <ice:commandButton id="ClearBtn"
                           value="#{msgs['audittrail.search.form.field.clear.text']}"
                           actionListener="#{auditTrailBean.clearButtonListener}"
                           immediate="true"/>   
                </ice:panelGrid>
            </ice:panelGroup>
        </ice:panelCollapsible>
        <ice:panelCollapsible id="batchGroupPanel" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="resultsHeader"
                            value="#{msgs['audittrail.search.form.panel2.title']}"/>
                </ice:panelGroup>
            </f:facet>
            <ui:include src="results.xhtml" />
        </ice:panelCollapsible>
		
	</ice:panelGroup>
<!--/ui:component-->