<f:view xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:loadBundle basename="messages" var="msgs" />

	<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<ice:portlet>
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.showcase.css']}" />
		<!--ice:outputStyle href="#{msgs['han.portlet.style.custom.css']}" /-->
		<ice:form>			
			<ice:panelGroup>
				<p>
					<ice:outputText value="#{msgs['registration.approval.legend']}" style="font-weight:bold;"/>
				</p>				
				<ui:include src="requestList.xhtml" />			
			</ice:panelGroup>
		</ice:form>
	</ice:portlet>
</f:view>