<f:view xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:loadBundle basename="messages" var="msgs" />

	<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<ice:portlet>
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.showcase.css']}" />
		<ice:form>
			<ice:panelGroup>
				<h2><ice:outputText value="#{msgs['registration.approval.rejected.title']}" style="font-color:red;font-weight:bold;"/></h2>
				<p>
					<ice:outputText value="#{msgs['registration.approval.rejected.legend']}" style="font-weight:bold;"/>
				</p>
				<p>
					<ul>
						<li><ice:outputText value="#{msgs['registration.approval.rejected.step1']}"/></li>
					</ul>
				</p>
				<ice:commandButton
                           value="#{msgs['registration.approval.rejected.finish.button']}"
                           action="finish"
                           immediate="true"/>
			</ice:panelGroup>
		</ice:form>
	</ice:portlet>
</f:view>