
<f:view xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<f:loadBundle basename="messages" var="msgs" />

	<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<ice:portlet>
		<ice:outputStyle href="./xmlhttp/css/rime/rime-portlet.css" />
		<ice:outputStyle href="./css/showcase_style.css" />

		<ice:panelGroup>
			<ice:panelGroup id="panelBorderContentPanel">
				<ice:form id="iceform">
					<ui:include src="/memberSearch.xhtml"/>
				</ice:form>
			</ice:panelGroup>
			<ice:panelGroup styleClass="clearer" />
		</ice:panelGroup>

	</ice:portlet>
</f:view>
