<ice:panelGroup xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:ice="http://www.icesoft.com/icefaces/component">

	<ice:panelGroup width="100%">
		<ice:panelDivider dividerPosition="120" orientation="horizontal">
			<f:facet name="first">
				<ice:panelGroup style="padding: 10px;">
					<ice:panelCollapsible id="criteriaPanel" expanded="true">
						<f:facet name="header">
							<ice:panelGroup>
								<ice:outputText id="criteriaPanelHeader" value="Criteria" />
							</ice:panelGroup>
						</f:facet>
						<ice:panelGrid columns="4" width="100%">
							<ice:outputText value="#{msgs['groupManagement.organizationType']}"/>
							<ice:outputText value="#{msgs['groupManagement.organization']}"/>
							<ice:outputText value="#{msgs['groupManagement.areaField']}"/>
							<ice:outputText value="#{msgs['groupManagement.role']}"/>
							<ice:selectOneListbox id="SlctTypeOrg"
								value="#{groupBean.selectedTypeOrg}" partialSubmit="true"
								style="overflow: auto;" size="10"
								valueChangeListener="#{groupBean.typeOrgChanged}">
								<f:selectItems id="SlctTypeOrgItms"
									value="#{groupBean.typeOrgItems}" />
							</ice:selectOneListbox>
							<ice:selectManyListbox id="organizationsListBox"
								partialSubmit="true" value="#{groupBean.selectedOrganizations}"
								style="overflow: auto;" size="10"
								valueChangeListener="#{groupBean.organizationChanged}">
								<f:selectItems id="SlctOrgItms"
									value="#{groupBean.organizationItems}" />
							</ice:selectManyListbox>
							<ice:selectManyListbox id="areaFieldListBox" partialSubmit="true"
								value="#{groupBean.selectedAreaFields}" style="overflow: auto;" size="10"
								valueChangeListener="#{groupBean.areaFieldChanged}">
								<f:selectItems id="SlctAreaFldItms"
									value="#{groupBean.areaFieldItems}" />
							</ice:selectManyListbox>
							<ice:selectManyListbox id="rolesListBox" partialSubmit="true"
								value="#{groupBean.selectedRoles}" style="overflow: auto;" size="10"
								valueChangeListener="#{groupBean.roleChanged}">
								<f:selectItems id="SlctRoleItms" value="#{groupBean.roleItems}" />
							</ice:selectManyListbox>
							<ice:commandButton id="BLCmdBtn1" value="Add"/>
							<ice:commandButton id="BLCmdBtn2" value="Add" actionListener="#{groupBean.addOrgButtonListener}" partialSubmit="true"/>
							<ice:commandButton id="BLCmdBtn3" value="Add" actionListener="#{groupBean.addAreafieldButtonListener}" partialSubmit="true"/>
							<ice:commandButton id="BLCmdBtn4" value="Add" actionListener="#{groupBean.addRoleButtonListener}" partialSubmit="true"/>
						</ice:panelGrid>
					</ice:panelCollapsible>
					<ice:panelCollapsible id="tablePanel" expanded="true">
						<f:facet name="header">
							<ice:panelGroup>
								<ice:outputText id="tablePanelHeader" value="Members" />
							</ice:panelGroup>
						</f:facet>
						<ice:panelGrid columns="1" width="100%">
							<ice:panelGroup styleClass="exampleBox dataScrollingContainer"
								style="clear: left;" width="100%">
			
								<!-- DataPaginator displaying information about the currently displayed
								         page and location within the dataModel-->
								<ice:panelGroup style="float:left;">
									<ice:dataPaginator id="dataScroll_2" for="data" rendered="true"
										rowsCountVar="rowsCount"
										displayedRowsCountVar="displayedRowsCountVar"
										firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex"
										pageCountVar="pageCount" pageIndexVar="pageIndex">
										<ice:outputFormat
											value="{0} member(s) found, displaying {1} member(s), from {2} to {3}. Page {4} / {5}."
											styleClass="standard">
											<f:param value="#{rowsCount}" />
											<f:param value="#{displayedRowsCountVar}" />
											<f:param value="#{firstRowIndex}" />
											<f:param value="#{lastRowIndex}" />
											<f:param value="#{pageIndex}" />
											<f:param value="#{pageCount}" />
										</ice:outputFormat>
									</ice:dataPaginator>
								</ice:panelGroup>
			
								<!--ice:dataTable id="data" var="member" value="#{groupBean.members}"
									rows="5" scrollable="false" scrollHeight="250px"
									style="float:left" columnWidths="75px,200px"
									styleClass="dataPaginatorDataTable" cellpadding="0"-->
								<ice:dataTable id="data" var="member" value="#{groupBean.members}"
									rows="5" scrollable="false"
									columnWidths="75px,200px"
									cellpadding="0">
									<ice:column>
										<ice:rowSelector id="selected" value="#{member.selected}"
											multiple="true"
											selectionListener="#{groupBean.rowSelectionListener}" />
										<f:facet name="header">
											<ice:outputText id="column1" value="ID" />
										</f:facet>
										<ice:outputText id="number" value="#{member.id}" />
									</ice:column>
			
									<ice:column>
										<f:facet name="header">
											<ice:outputText id="column2" value="Name" />
										</f:facet>
										<ice:outputText id="firstName" value="#{member.name}" />
									</ice:column>
								</ice:dataTable>
			
			
			
								<!-- Set up the buttons and links for browsing through the table
							             fastStep means No. of pages to fast forward or rewind: 3
							             paginatorMaxPages means No. of direct links to pages: 4 -->
								<ice:panelGroup>
									<ice:dataPaginator id="dataScroll_1" for="data" fastStep="3"
										pageCountVar="pageCount" pageIndexVar="pageIndex"
										paginator="true" paginatorMaxPages="4">
										<f:facet name="first">
											<ice:graphicImage id="firstpage_1"
												url="./xmlhttp/css/rime/css-images/arrow-first.gif"
												style="border:none;" />
										</f:facet>
										<f:facet name="last">
											<ice:graphicImage id="lastpage_1"
												url="./xmlhttp/css/rime/css-images/arrow-last.gif"
												style="border:none;" />
										</f:facet>
										<f:facet name="previous">
											<ice:graphicImage id="previouspage_1"
												url="./xmlhttp/css/rime/css-images/arrow-previous.gif"
												style="border:none;"
												title="#{msgs['page.dataScrolling.previouspage']}" />
										</f:facet>
										<f:facet name="next">
											<ice:graphicImage id="nextpage_1"
												url="./xmlhttp/css/rime/css-images/arrow-next.gif"
												style="border:none;" />
										</f:facet>
										<f:facet name="fastforward">
											<ice:graphicImage id="fastforward_1"
												url="./xmlhttp/css/rime/css-images/arrow-ff.gif"
												style="border:none;" />
										</f:facet>
										<f:facet name="fastrewind">
											<ice:graphicImage id="fastrewind_1"
												url="./xmlhttp/css/rime/css-images/arrow-fr.gif"
												style="border:none;" />
										</f:facet>
									</ice:dataPaginator>
								</ice:panelGroup>
							</ice:panelGroup>
						</ice:panelGrid>
					</ice:panelCollapsible>
				</ice:panelGroup>
			</f:facet>

			<f:facet name="second">
				<ice:panelGroup style="padding: 10px;">
					<ice:panelGrid columns="1" width="100%">
						<ice:selectManyListbox id="membersListBox" partialSubmit="true"
							style="overflow: auto;">
							<f:selectItems id="memberItms" value="#{groupBean.memberItems}" />
						</ice:selectManyListbox>
						<ice:commandButton id="BLCmdBtn5" value="Remove" />
					</ice:panelGrid>
				</ice:panelGroup>
			</f:facet>
		</ice:panelDivider>
	</ice:panelGroup>

</ice:panelGroup>