<f:view xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <f:loadBundle basename="messages" var="msg"/>
	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="/css/showcase_style.css" />
		<ice:outputStyle href="/css/custom_styles.css" />
		<ice:form partialSubmit="false">
			<ice:messages layout="list" />
			<!-- ui:include src="alertMenu.xhtml" / -->
			<ice:panelGrid columns="1" width="96%" columnClasses="left_menu">
				<ui:include src="alertTrackingMenu.xhtml" />
				<ice:panelGroup style="position: relative;">
					<ice:panelGroup styleClass="exampleBox" style="width: 100%;">
						<ui:include src="alertReportBasic.xhtml" />
						<ui:include src="alertReportNotification.xhtml" />
						<ui:include src="alertReportStatistics.xhtml" />
						<ice:panelGrid columns="5">
							<ice:commandButton value="#{msg['alerts.reports.detail.link']}"
											 actionListener="#{alertTrackingBean.retrieveReportDetails}"
											 action="#{alertMenuBean.searchSelected}">
								<f:setPropertyActionListener value="ABORT_TRACK_ALERTS_EXTENDED_DETAIL"
															 target="#{alertMenuBean.toExecute}" />
							</ice:commandButton>
							<ice:outputResource shared="false" fileName="report.csv"
												resource="#{alertTrackingBean.entireCsvFile}"
												mimeType="text/csv" type="button"
												label="#{msg['alerts.reports.export.link']}" />
							<ice:commandButton value="#{msg['alerts.tracking.abort.title']}"
											   actionListener="#{alertBrowseBean.toggleAbort}"
											   rendered="#{alertTrackingBean.updating}">
								<f:setPropertyActionListener value="#{alertTrackingBean.report.reportId}"
															 target="#{alertBrowseBean.alertId}" />
							</ice:commandButton>
						</ice:panelGrid>
					</ice:panelGroup>
				</ice:panelGroup>
			</ice:panelGrid>
			<ui:include src="alertConfirmAbort.xhtml" />
		</ice:form>
	</ice:portlet>
</f:view>