<ice:panelGrid xmlns="http://www.w3.org/1999/xhtml" 
		  xmlns:ui="http://java.sun.com/jsf/facelets" 
		  xmlns:h="http://java.sun.com/jsf/html" 
		  xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  width="100%"
		  columns="2" style="border: 1px solid #d9d9d9;"
		  columnClasses="hanDatatableElementLeft,hanDatatableElementTopRight">
	<ice:panelGrid columns="1" columnClasses="hanDatatableElementLeft">
		<ice:outputText value="#{msg['alerts.compose.title']}" style="font-weight: bold;font-size: large;" />		
		<ice:panelGroup>
			<ice:outputText value="#{msg['alerts.compose.notification.instructions']}" escape="false" /><br/>
			<ice:outputText value="#{msg['required.field.text.1']}" />
			<ice:outputText value="#{msg['required.field.marker']}" style="#{msg['required.field.marker.style']}" />
			<ice:outputText value="#{msg['required.field.text.2']}" />
		</ice:panelGroup>
		<ice:panelGrid columns="2" columnClasses="hanDatatableElementLeft" width="100%">
			<ice:panelGroup>
				<ice:outputText value="#{msg['required.field.marker']}" style="#{msg['required.field.marker.style']}" />
				<ice:outputLabel value="#{msg['alerts.compose.notification.priority']}" for="priority" />
			</ice:panelGroup>
			<ice:selectOneMenu id="priority" value="#{composeAlertBean.priority}" readonly="#{composeAlertBean.notEditable}">
				<f:selectItems value="#{topicsBean.priorities}"/>
			</ice:selectOneMenu>
			<ice:panelGroup>
				<ice:outputText value="#{msg['required.field.marker']}" style="#{msg['required.field.marker.style']}" />
				<ice:outputLabel value="#{msg['alerts.compose.notification.source']}" for="initiator" />
			</ice:panelGroup>
			<ice:selectOneMenu id="initiator" value="#{composeAlertBean.contactUserId}" readonly="#{composeAlertBean.notEditable}">
				<f:selectItems value="#{alertInitiatorsBean.initiators}" />
			</ice:selectOneMenu>
			<ice:outputConnectionStatus />
			<!--ice:graphicImage value="../images/powered_by_logo_blue.gif" />-->
		</ice:panelGrid>
	</ice:panelGrid>
	<ice:panelGrid columns="2" columnClasses="hanDatatableElementRight,hanDatatableElementLeft" style="border: 1px solid #d9d9d9;">
		<ice:outputText value="#{msg['alerts.compose.notification.created.date']}:" />
		<ice:outputText value="#{composeAlertBean.createdDate}">
			<f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"
							   timeZone="#{msg['han.time.zone']}" />
		</ice:outputText>
		<ice:outputText value="#{msg['alerts.compose.notification.created.by']}:" />
		<ice:outputText value="#{composeAlertBean.createdBy}" />
		<ice:outputText value="#{msg['alerts.compose.notification.published.date']}:" />
		<ice:outputText value="#{composeAlertBean.publishedDate}">
			<f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"
							   timeZone="#{msg['han.time.zone']}" />
		</ice:outputText>
		<ice:outputText value="#{msg['alerts.compose.notification.last.modified.date']}:" />
		<ice:outputText value="#{composeAlertBean.lastModifiedDate}">
			<f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"
							   timeZone="#{msg['han.time.zone']}" />
		</ice:outputText>
		<ice:outputText value="#{msg['alerts.compose.notification.notification.date']}:" />
		<ice:outputText value="#{composeAlertBean.notificationDate}">
			<f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"
							   timeZone="#{msg['han.time.zone']}" />
		</ice:outputText>
	</ice:panelGrid>
</ice:panelGrid>