<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup styleClass="exampleBox" style="width: 100%;">
		<ice:outputText value="#{msg[alertActionBean.searchTitle]}" style="font-weight: bold" />
		<br />
		<ice:dataTable id="notifications" var="alert" value="#{alertActionBean.foundAlerts}"
					   rows="#{msg['alerts.search.rows']}" scrollable="false" cellpadding="0"
					   columnWidths="160px,100px,100px,300px"
					   columnClasses="hanDatatableElement,hanDatatableElement,hanDatatableElement,hanDatatableElementLeft"
					   width="100%">
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.search.current.date.publication.date.title']}" />
				</f:facet>
				<ice:commandLink actionListener="#{alertDetailsBean.retrieveAlertDetails}"
								 action="#{alertMenuBean.searchSelected}"
								 disabled="#{not alertActionBean.mir3Response}">
					<ice:outputText value="#{alert.publicationDate}" styleClass="alert_link">
						<f:convertDateTime pattern="#{msg['alerts.search.date.pattern']}"
										   timeZone="#{msg['han.time.zone']}" />
					</ice:outputText>
					<f:param name="alertId" value="#{alert.alertId}" />
					<f:param name="selectedSearch" value="SHOW_ALERT_DETAIL" />
				</ice:commandLink>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.search.current.date.id.title']}" />
				</f:facet>
				<ice:outputText value="#{alert.alertId}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.search.current.date.topic.title']}" />
				</f:facet>
				<ice:outputText value="#{alert.topic}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.search.current.date.title.title']}" />
				</f:facet>
				<ice:panelGroup style="text-align: center;"
								rendered="#{not alertActionBean.mir3Response}">
					<ice:graphicImage  style="margin-left: auto; margin-right: auto;"
									   value="#{msg['alerts.loading.image']}" />
					<ice:outputText value="#{msg['alerts.loading.label']}" />
				</ice:panelGroup>
				<ice:commandLink actionListener="#{alertDetailsBean.retrieveAlertDetails}"
								 action="#{alertMenuBean.searchSelected}"
								 rendered="#{alertActionBean.mir3Response}">
					<ice:outputText value="#{alert.title}" styleClass="alert_link" />
					<f:param name="alertId" value="#{alert.alertId}" />
					<f:param name="selectedSearch" value="SHOW_ALERT_DETAIL" />
				</ice:commandLink>
			</ice:column>
			<f:facet name="footer">
			<ice:panelGroup style="float:left; font-weight: normal; text-align: left;">
				<ice:dataPaginator id="notificationsScrollHeader" for="notifications" rendered="true"
								   rowsCountVar="rowsCount"
								   displayedRowsCountVar="displayedRowsCountVar"
								   firstRowIndexVar="firstRowIndex"
								   lastRowIndexVar="lastRowIndex"
								   pageCountVar="pageCount" pageIndexVar="pageIndex">
					<ice:outputFormat value="#{msg['alerts.requiring.action.paginator.info']}"
									  styleClass="standard">
						<f:param value="#{rowsCount}" />
						<f:param value="#{displayedRowsCountVar}" />
						<f:param value="#{firstRowIndex}" />
						<f:param value="#{lastRowIndex}" />
						<f:param value="#{pageIndex}" />
						<f:param value="#{pageCount}" />
					</ice:outputFormat>
				</ice:dataPaginator>
				<ice:dataPaginator id="notificationsScrollFooter" for="notifications" fastStep="3"
								   pageCountVar="pageCount" pageIndexVar="pageIndex"
								   paginator="true" paginatorMaxPages="4">
					<f:facet name="first">
						<ice:graphicImage id="firstpage_1"
							url="#{msg['icefaces.paginator.first.button.image']}"
							style="border:none;" />
					</f:facet>
					<f:facet name="last">
						<ice:graphicImage id="lastpage_1"
							url="#{msg['icefaces.paginator.last.button.image']}"
							style="border:none;" />
					</f:facet>
					<f:facet name="previous">
						<ice:graphicImage id="previouspage_1"
							url="#{msg['icefaces.paginator.previous.button.image']}"
							style="border:none;"
							title="#{msg['page.dataScrolling.previouspage']}" />
					</f:facet>
					<f:facet name="next">
						<ice:graphicImage id="nextpage_1"
							url="#{msg['icefaces.paginator.next.button.image']}"
							style="border:none;" />
					</f:facet>
				</ice:dataPaginator>
			</ice:panelGroup>
			</f:facet>
		</ice:dataTable>
	</ice:panelGroup>
</ui:component>