<ui:component xmlns="http://www.w3.org/1999/xhtml"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelCollapsible expanded="true">
		<f:facet name="header">
			<ice:panelGroup>
				<ice:outputText value="#{msg['alerts.reports.notification.title']}" />
			</ice:panelGroup>
		</f:facet>
		<ice:panelGrid columns="2"
			columnClasses="hanDatatableElementLeft,hanDatatableElementLeft">
			<ice:outputText value="#{msg['alerts.reports.notification.message']}" />
			<ice:outputText value="#{alertTrackingBean.report.message}" />
			<ice:outputText value="#{msg['alerts.reports.notification.responses']}" />
			<ice:dataTable var="option" 
				value="#{alertTrackingBean.report.responseOptions}"
				headerClasses="hanDatatableElement,hanDatatableElement,hanDatatableElement"
				columnClasses="hanDatatableElement,hanDatatableElementLeft,hanDatatableElement"
				bgcolor="#ffffff">
				<ice:column>
					<ice:outputText value="#{option.index}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.notification.response']}" />
					</f:facet>
					<ice:outputText value="#{option.response}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.notification.callbridge']}" />
					</f:facet>
					<ice:outputText value="#{option.callbridge}" />
				</ice:column>
			</ice:dataTable>
		</ice:panelGrid>
	</ice:panelCollapsible>
</ui:component>