<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup>
		<ice:outputLabel value="#{msg['alerts.compose.notification.expiration.date']}" for="expirationDate"/>
		<ice:selectInputDate id="expirationDate" label="#{msg['alerts.compose.notification.expiration.date']}" 
							 value="#{composeAlertBean.expirationDate}"
							 highlightClass="weekend"
				         	 highlightUnit="DAY_OF_WEEK"
							 highlightValue="1,7"
							 renderAsPopup="true" rendered="#{not composeAlertBean.notEditable}"
							 partialSubmit="true">
			<f:convertDateTime pattern="#{msg['alerts.compose.date.pattern']}" timeZone="#{msg['han.time.zone']}" />
		</ice:selectInputDate>
		<ice:outputText value="#{composeAlertBean.expirationDate}" rendered="#{composeAlertBean.notEditable}"
						partialSubmit="true">
			<f:convertDateTime pattern="#{msg['alerts.compose.date.pattern']}" timeZone="#{msg['han.time.zone']}" />
		</ice:outputText>
	</ice:panelGroup>
</ui:component>