<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup>
		<ice:panelGroup>
			<ice:selectOneRadio value="#{composeAlertBean.scheduledStr}"
								valueChangeLister="#{composeAlertBean.scheduledChanged}"
								readonly="#{composeAlertBean.notEditable}"
								partialSubmit="true">
				<f:selectItem itemValue="false" itemLabel="#{msg['alerts.compose.notification.schedule.immediately']}"/>
				<f:selectItem itemValue="true" itemLabel="#{msg['alerts.compose.notification.schedule.scheduledate']}"/>
			</ice:selectOneRadio>
		</ice:panelGroup>
		<ice:panelGroup rendered="#{composeAlertBean.scheduled}">
			<ice:outputLabel value="#{msg['alerts.compose.notification.schedule.publish.date']}" for="scheduledDate"/>
			<ice:selectInputDate id="scheduledDate" label="#{msg['alerts.compose.notification.schedule.publish.date']}" 
								 value="#{composeAlertBean.scheduledDate}"								 
								 highlightClass="weekend"
					           	 highlightUnit="DAY_OF_WEEK"
								 highlightValue="1,7"
								 renderAsPopup="true" rendered="#{not composeAlertBean.notEditable}"
								 partialSubmit="true">
				<f:convertDateTime pattern="#{msg['alerts.compose.date.pattern']}" timeZone="#{msg['han.time.zone']}" />
			</ice:selectInputDate>
			<ice:outputText value="#{composeAlertBean.scheduledDate}" rendered="#{composeAlertBean.notEditable}"
							partialSubmit="true">
				<f:convertDateTime pattern="#{msg['alerts.compose.date.pattern']}" timeZone="#{msg['han.time.zone']}" />
			</ice:outputText>
		</ice:panelGroup>
	</ice:panelGroup>
</ui:component>