<ui:component xmlns="http://www.w3.org/1999/xhtml"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelCollapsible expanded="true">
		<f:facet name="header">
			<ice:panelGroup>
				<ice:outputText value="#{msg['alerts.reports.statistics.title']}" />
			</ice:panelGroup>
		</f:facet>
		<ice:panelGrid columns="1" columnClasses="hanDatatableElementLeft" width="100%">
			<ice:panelGrid columns="3" bgcolor="#ffffff" style="border: 1px solid #d9d9d9;"
				columnClasses="hanDatatableElementBorder">
				<!--ice:outputText value="#{msg['alerts.reports.statistics.totals']}" /-->
				<ice:outputText value="#{msg['alerts.reports.statistics.total.recipients']}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.total.contacted']}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.total.responded']}" />
				<ice:outputText value="#{alertTrackingBean.report.totalRecipients}"/>
				<ice:outputText value="#{alertTrackingBean.report.totalContacted}"/>
				<ice:outputText value="#{alertTrackingBean.report.totalResponded}"/>
			</ice:panelGrid>
			<ice:dataTable var="option" value="#{alertTrackingBean.responseOptions}"
						   headerClasses="hanDatatableElement,hanDatatableElement,hanDatatableElement,hanDatatableElement"
						   columnClasses="hanDatatableElementLeft,hanDatatableElement,hanDatatableElement,hanDatatableElementLeft"
						   columnWidths="200px,80px,60px,201px"
						   bgcolor="#ffffff">
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.statistics.responses']}" />
					</f:facet>
					<f:facet name="footer">
						<ice:outputText value="#{msg['alerts.reports.statistics.total']}" />
					</f:facet>
					<ice:commandLink actionListener="#{alertTrackingBean.retrieveReportDetails}"
									 action="#{alertMenuBean.searchSelected}">
						<ice:outputText value="#{option.response}" />
						<f:param name="selectedSearch" value="ABORT_TRACK_ALERTS_EXTENDED_DETAIL" />
						<f:param name="response" value="#{option.index}" />
					</ice:commandLink>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.statistics.percent']}" />
					</f:facet>
					<f:facet name="footer">
						<ice:outputText value="100.00 %"/>
					</f:facet>
					<ice:outputText value="#{option.total / alertTrackingBean.report.totalRecipients}">
						<f:convertNumber pattern="##0.00 %" />
					</ice:outputText>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.statistics.total']}" />
					</f:facet>
					<f:facet name="footer">
						<ice:outputText value="#{alertTrackingBean.report.totalRecipients}"/>
					</f:facet>
					<ice:outputText value="#{option.total}"/>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value=" " />
					</f:facet>
					<div style="width: #{option.total * 200 / alertTrackingBean.report.totalRecipients + 1}px;"
						 class="graphicBar#{option.index}" />
				</ice:column>
			</ice:dataTable>
		</ice:panelGrid>
	</ice:panelCollapsible>
</ui:component>