<ice:panelPopup xmlns="http://www.w3.org/1999/xhtml" 
		  	xmlns:ui="http://java.sun.com/jsf/facelets" 
		  	xmlns:h="http://java.sun.com/jsf/html" 
		  	xmlns:f="http://java.sun.com/jsf/core"
		  	xmlns:ice="http://www.icesoft.com/icefaces/component"
		  	draggable="false" modal="true" rendered="#{alertBrowseBean.archiveVisible}"
			visible="#{alertBrowseBean.archiveVisible}"
			autoCentre="true" positionOnLoadOnly="true" styleClass="corePopup">
	<f:facet name="header">
        <ice:panelGroup styleClass="popupHeaderWrapper">
            <ice:outputText value="#{msg['alerts.action.confirmation.archive']}"
							styleClass="popupHeaderText"/>
            <ice:commandButton type="button"
							   image="/images/popupclose.gif"
							   actionListener="#{alertBrowseBean.toggleArchive}"
							   styleClass="popupHeaderImage"
							   title="Close Popup" alt="Close"/>
        </ice:panelGroup>
    </f:facet>
    <f:facet name="body">
    	<ice:panelGroup styleClass="popupBody">
    		<ice:outputText value="#{msg['alerts.action.confirmation.archive.text']}" />
    		<br />
    		<ice:commandButton value="#{msg['alerts.action.confirmation.yes']}"
    						 actionListener="#{alertBrowseBean.archiveAlert}"
    						 action="#{alertMenuBean.previouslySelectedSearch}">
    			<f:param name="alertId" value="#{alertDetailsBean.alert.alertId}" />
    			<f:setPropertyActionListener value="#{alertMenuBean.previouslyExecuted}"
    										 target="#{alertTrackingBean.refresh}" />
    		</ice:commandButton>
    		<ice:commandButton value="#{msg['alerts.action.confirmation.no']}"
    						 actionListener="#{alertBrowseBean.toggleArchive}" />
    	</ice:panelGroup>
    </f:facet>
</ice:panelPopup>