<ice:panelGrid xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:h="http://java.sun.com/jsf/html"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  xmlns:ui="http://java.sun.com/jsf/facelets"
		  width="100%" style="padding: 10px;" columns="1"
		  columnClasses="hanDatatableElementLeft">
	
	<ice:commandButton value="#{msg['alerts.back']}"
					   action="back" />
	<ice:panelGrid columns="3">
		<ice:commandButton value="#{msg['alerts.cancel']}"
						   actionListener="#{alertBrowseBean.executeSearch}"
						   action="#{alertMenuBean.searchSelected}">
			<f:param name="selectedSearch" value="CURRENT_BY_PUBLICATION_DATE" />
		</ice:commandButton>
		<ice:commandButton value="#{msg['alerts.save']}" actionListener="#{composeAlertBean.saveAlert}" />
		<ice:commandButton value="#{msg['alerts.recipients.add.recipients']}"
						   actionListener="#{groupManagementBean.saveListInSession}"
						   action="#{composeAlertBean.advancedOptions}" />
	</ice:panelGrid>
	<ice:panelDivider dividerPosition="50" orientation="vertical" style="width: 100%;">
	<f:facet name="first">
		<ui:include src="../groupManagement/foundUsers.xhtml" />
	</f:facet>
	<f:facet name="second">
		<ui:include src="../groupManagement/members.xhtml" />
	</f:facet>
	</ice:panelDivider>

	<ice:panelGroup>
		<ui:include src="../groupManagement/groupSearch.xhtml" />
		<ui:include src="../groupManagement/criteria.xhtml" />
		<ui:include src="../groupManagement/individualSearch.xhtml" />
		<ui:include src="../groupManagement/bulkUploadSearch.xhtml" />
	</ice:panelGroup>
</ice:panelGrid>