/*
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * "The contents of this file are subject to the Mozilla Public License
 * Version 1.1 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific language governing rights and limitations under
 * the License.
 *
 * The Original Code is ICEfaces 1.5 open source software code, released
 * November 5, 2006. The Initial Developer of the Original Code is ICEsoft
 * Technologies Canada, Corp. Portions created by ICEsoft are Copyright (C)
 * 2004-2006 ICEsoft Technologies Canada, Corp. All Rights Reserved.
 *
 * Contributor(s): _____________________.
 *
 * Alternatively, the contents of this file may be used under the terms of
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"
 * License), in which case the provisions of the LGPL License are
 * applicable instead of those above. If you wish to allow use of your
 * version of this file only under the terms of the LGPL License and not to
 * allow others to use your version of this file under the MPL, indicate
 * your decision by deleting the provisions above and replace them with
 * the notice and other provisions required by the LGPL License. If you do
 * not delete the provisions above, a recipient may use your version of
 * this file under either the MPL or the LGPL License."
 *
 */
.splashContainer {
  height: 432px;
  margin-top: 33px;
  width: 681px; }

.buttonsAndLinksContainer {
  width: 500px; }

.textEntryContainer {
  width: 500px; }

.selectionContainer {
  width: 500px; }

.selectInputTextContainer {
  width: 500px; }

.selectInputDateContainer {
  width: 475px; }

.chartsContainer {
  width: 635px; }

.gmapContainer {
  width: 550px; }

.outputConnectionStatusContainer {
  width: 500px; }

.dragDropContainer {
  width: 500px; }

.effectsContainer {
  width: 500px; }

.inputFileContainer {
  width: 500px; }

.outputMediaContainer {
  width: 500px; }

.outputProgressContainer {
  width: 625px; }

.menuBarContainer {
  width: 500px; }

.menuPopupContainer {
  width: 500px; }

.inputRichTextContainer {
  width: 600px; }

.dataScrollingContainer {
  width: 500px; }

.commandSortHeaderContainer {
  width: 500px; }

.rowSelectorContainer {
  width: 500px; }

.columnsTableContainer {
  width: 500px; }

.expandableTableContainer {
  width: 500px; }

.groupingContainer {
  width: 500px; }

.resizableContainer {
  width: 500px; }

.panelBorderContainer {
  width: 500px; }

.panelCollapsible {
  width: 500px; }

.panelTabSetContainer {
  width: 610px; }

.panelPopupContainer {
  width: 600px; }

.panelPopupExampleContainer {
  width: 250px; }

.panelPositionedContainer {
  width: 500px; }

.panelDividerContainer {
  width: 500px; }

.panelSeriesContainer {
  width: 500px; }

.panelStackContainer {
  width: 600px; }

.panelToolTipContainer {
  width: 500px; }

