<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
>
	<f:loadBundle basename="messages" var="msgs" />
	<h:head />
	<h:body>
		<ice:portlet>
			<ice:outputStyle href="#{msgs['icefaces.portlet.style.rime.css']}" />
			<ice:outputStyle href="#{msgs['icefaces.portlet.style.showcase.css']}" />
			<ice:form>
				<ice:panelGroup>
					<h2><ice:outputText value="#{msgs['registration.request.confirmed.title']}"/></h2>
					<p>
						<ice:outputText value="#{msgs['registration.request.confirmed.legend']}" style="font-weight:bold;"/>
					</p>
					<p>
						<ice:outputText value="#{msgs['registration.request.confirmed.legend2']}"/>
						<ice:outputText value="#{registrationBean.requestNumber}" style="color:blue; font-weight:bold;"/>
					</p>
					<p>
						<ice:outputText value="#{msgs['registration.request.confirmed.legend3']}"/>
					</p>
					<ice:commandButton
	                           value="#{msgs['registration.request.confirm.finish.button']}"
	                           action="finish"
	                           immediate="true"/>
				</ice:panelGroup>
			</ice:form>
		</ice:portlet>
	</h:body>
</f:view>
