<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
>
	<f:loadBundle basename="messages" var="msgs" />
	<h:head />
	<h:body>
		<ice:portlet>
			<ice:outputStyle href="#{msgs['icefaces.portlet.style.rime.css']}" />
			<ice:outputStyle href="#{msgs['icefaces.portlet.style.showcase.css']}" />
			<ice:outputStyle href="#{msgs['han.portlet.style.custom.css']}" />
			<ice:form>			
				<ui:include src="intro.xhtml" />
			</ice:form>
		</ice:portlet>
	</h:body>
</f:view>

<!-- <f:view xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:loadBundle basename="messages" var="msgs" />

	<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<ice:portlet>
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.showcase.css']}" />
		ice:outputStyle href="#{msgs['han.portlet.style.custom.css']}" /
		<ice:form>			
			<ui:include src="intro.xhtml" />
		</ice:form>
	</ice:portlet>
</f:view> -->