<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
>
	<f:loadBundle basename="messages" var="msgs" />
	<h:head />
	<h:body>
		<ice:panelGroup width="100%">
			
			<h2><ice:outputText value="#{msgs['registration.request.verify.title']}"/></h2>
	
			<p>
				<ice:outputText value="#{msgs['registration.request.verify.legend']}"/>
			</p>
			
			<p>
				<ice:messages layout="list"/>
			</p>
			
	
			<ice:panelCollapsible id="formPanel1" expanded="true" immediate="true">
	            <f:facet name="header">
	                <ice:panelGroup>
	                    <ice:outputText id="formHeader" value="#{msgs['registration.request.form.title1']}"/>
	                </ice:panelGroup>
	            </f:facet>      
	            <ice:panelGroup >
	                <ice:panelGrid columns="2">
	                    <!-- First Name-->
	                    <ice:outputLabel for="formFirstName"
	                                     value="#{msgs['registration.request.form.field.firstname']}"/>
	                                   
	                    <ice:outputText id="formFirstName"
	                                   value="#{registrationBean.firstName}"/>
	                                   
	                    <!-- Last Name-->
	                    <ice:outputLabel for="formLastName"
	                                     value="#{msgs['registration.request.form.field.lastname']}"/>
	
	                    <ice:outputText id="formLastName" 
	                    		value="#{registrationBean.lastName}" />     
	                    
	                    <!-- Middle Name-->
	                    <ice:outputLabel for="formMiddleName"
	                                     value="#{msgs['registration.request.form.field.middlename']}"/>
	                    <ice:outputText id="formMiddleName" value="#{registrationBean.middleName}"/>                 
	                                        	
	                </ice:panelGrid>
	            </ice:panelGroup>
	        </ice:panelCollapsible>
			<ice:panelCollapsible id="formPanel2" expanded="true" immediate="true">
	            <f:facet name="header">
	                <ice:panelGroup>
	                    <ice:outputText id="formHeader2" value="#{msgs['registration.request.form.title2']}"/>
	                </ice:panelGroup>
	            </f:facet>      
	            <ice:panelGroup>
	                <ice:panelGrid columns="2">
	                    <!-- Organization Type -->
	                    <ice:outputLabel for="SlctOrgTyp"
	                                     value="#{msgs['registration.request.form.field.organizationtype']}"/>
	                    <ice:outputText id="SlctOrgTyp" 
	                   		value="#{registrationBean.orgTypeDesc}"/>
	                  
	                  	<!-- Organization -->
	                    <ice:outputLabel for="SlctOrg"
	                                     value="#{msgs['registration.request.form.field.organization']}"/>
	                    <ice:outputText id="SlctOrg" 
	                   		value="#{registrationBean.orgDesc}"/>
	                                   
						<!-- Organization Name -->
	                    <ice:outputLabel for="formOrgName"
	                                     value="#{msgs['registration.request.form.field.organizationname']}"/>
	                    <ice:outputText id="formOrgName" 
	                   		value="#{registrationBean.organizationName}"/>
	                                   
	                    <!-- Organization Description -->
	                    <ice:outputLabel for="formOrgDesc"
	                                     value="#{msgs['registration.request.form.field.organizationdesc']}"/>
	                    <ice:outputText id="formOrgDesc" 
	                   		value="#{registrationBean.organizationDesc}"/>
						
						<!-- Title -->
	                    <ice:outputLabel for="formTitle"
	                                     value="#{msgs['registration.request.form.field.title']}"/>
	                    <ice:outputText id="formTitle" value="#{registrationBean.title}"/>
						
						
						<!-- Department -->
	                    <ice:outputLabel for="formDept"
	                                     value="#{msgs['registration.request.form.field.department']}"/>
	                    <ice:outputText id="formDept" value="#{registrationBean.department}"/>              
	                                   
	                    <!-- AreaField -->
	                    <ice:outputLabel for="SlctAreaField"
	                                     value="#{msgs['registration.request.form.field.areafield']}"/>
	                    <ice:outputText id="SlctAreaField" value="#{registrationBean.areaFieldDesc}"/> 
	                                   
						<!-- Role -->
	                    <ice:outputLabel for="SlctRole"
	                                     value="#{msgs['registration.request.form.field.role']}"/>
	                    <ice:outputText id="SlctRole" value="#{registrationBean.roleDesc}"/> 
	                                   
	                                   
						<!-- Telephone -->
	                    <ice:outputLabel for="formPhone"
	                                     value="#{msgs['registration.request.form.field.telephone']}"/>
	                    <ice:panelGroup>
		                   <ice:outputText id="formPhone" value="#{registrationBean.telephone}"/> 	
		                   <ice:outputText id="fromPhoneExt" value=" x #{registrationBean.telephoneExt}" />
	                    </ice:panelGroup>
	                    
	                    <!-- Email -->
	                    <ice:outputLabel for="formEmail"
	                                     value="#{msgs['registration.request.form.field.email']}"/>
	                    <ice:outputText id="formEmail" value="#{registrationBean.email}"/> 			                
	                                 
	                </ice:panelGrid>
	            </ice:panelGroup>
	        </ice:panelCollapsible>
	        <ice:panelCollapsible id="formPanel3" expanded="true" immediate="true">
	            <f:facet name="header">
	                <ice:panelGroup>
	                    <ice:outputText id="formHeader3" value="#{msgs['registration.request.form.title3']}"/>
	                </ice:panelGroup>
	            </f:facet>      
	            <ice:panelGroup >
	                <ice:panelGrid columns="2">
	                    <!-- Purpose-->
	                    <ice:outputLabel for="formPurpose"
	                                     value="#{msgs['registration.request.form.field.purpose']}"/>
	                    <ice:outputText id="formPurpose" value="#{registrationBean.purpose}"/>
						
	                    <!-- Referral Name-->
	                    <ice:outputLabel for="formReferralName"
	                                     value="#{msgs['registration.request.form.field.referralname']}"/>
	                    <ice:outputText id="formReferralName" value="#{registrationBean.referralName}"/>
	                    
	                    <!-- Referral Title-->
	                    <ice:outputLabel for="formReferralTitle"
	                                     value="#{msgs['registration.request.form.field.referraltitle']}"/>
						<ice:outputText id="formReferralTitle" value="#{registrationBean.referralTitle}"/>                 
	                    
	                    <!-- Referral Phone-->
	                    <ice:outputLabel for="formReferralTelephone"
	                                     value="#{msgs['registration.request.form.field.referraltelephone']}"/>
	                    <ice:panelGroup>
	                    <ice:outputText id="formReferralTelephone" value="#{registrationBean.referralTelephone}"/>
	                    <ice:outputText id="formReferralTelephoneExt"
	                    				value=" x #{registrationBean.referralTelephoneExt}" />
	                    </ice:panelGroup>
	                </ice:panelGrid>
	            </ice:panelGroup>
	        </ice:panelCollapsible>
	        
	        <!-- Buttons -->
	        <ice:commandButton id="BackBtn"
	               value="#{msgs['registration.request.verify.back.button']}"
	               action="back"
	               immediate="true"/>
	        <ice:commandButton id="SubmitBtn"
	               value="#{msgs['registration.request.verify.save.button']}"
	               action="#{registrationBean.confirmSubmitButtonAction}"/>       
		</ice:panelGroup>
	</h:body>
</f:view>
