<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ice="http://www.icesoft.com/icefaces/component" xmlns:icecore="http://www.icefaces.org/icefaces/core">    <f:view><h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
            <title>DataTable Component Tutorial</title>
            <link href="./xmlhttp/css/xp/xp.css" rel="stylesheet" type="text/css" />
            </h:head>    <h:body>        <ice:form>
                
                <!--
    This is a very basic table comprising four columns. Each
    row represents an inventory item.  Each column represents a
    inventory item property.
                -->
                <ice:dataTable rows="5" id="inventoryList" value="#{inventoryList.carInventory}" var="item">
                    
                    <!-- Stock number -->
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Stock #"></ice:outputText>
                        </f:facet>
                        <ice:outputText value="#{item.stock}"></ice:outputText>
                    </ice:column>
                    
                    <!-- Model number -->
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Model"></ice:outputText>
                        </f:facet>
                        <ice:outputText value="#{item.model}"></ice:outputText>
                    </ice:column>
                    
                    <!-- Description  -->
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Description"></ice:outputText>
                        </f:facet>
                        <ice:outputText value="#{item.description}"></ice:outputText>
                    </ice:column>
                    
                    <!-- Odometer reading -->
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Odometer"></ice:outputText>
                        </f:facet>
                        <ice:outputText value="#{item.odometer}"></ice:outputText>
                    </ice:column>
                    
                    <!-- Price number -->
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Price"></ice:outputText>
                        </f:facet>
                        <ice:outputText value="#{item.price}"></ice:outputText>
                    </ice:column>
                    
                </ice:dataTable>
                
                <!-- Paginator with page controls -->
                <ice:dataPaginator id="dataScroll_3" for="inventoryList" paginator="true" fastStep="3" paginatorMaxPages="4">
                    <f:facet name="first">
                        <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-first.gif" style="border:none;" title="First Page"></ice:graphicImage>
                    </f:facet>
                    <f:facet name="last">
                        <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-last.gif" style="border:none;" title="Last Page"></ice:graphicImage>
                    </f:facet>
                    <f:facet name="previous">
                        <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-previous.gif" style="border:none;" title="Previous Page"></ice:graphicImage>
                    </f:facet>
                    <f:facet name="next">
                        <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-next.gif" style="border:none;" title="Next Page"></ice:graphicImage>
                    </f:facet>
                    <f:facet name="fastforward">
                        <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-ff.gif" style="border:none;" title="Fast Forward"></ice:graphicImage>
                    </f:facet>
                    <f:facet name="fastrewind">
                        <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-fr.gif" style="border:none;" title="Fast Backwards"></ice:graphicImage>
                    </f:facet>
                </ice:dataPaginator>
                
                <!-- Display counts about the table and the currently displayed page -->
                <ice:dataPaginator id="dataScroll_2" for="inventoryList" rowsCountVar="rowsCount" displayedRowsCountVar="displayedRowsCount" firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex" pageCountVar="pageCount" pageIndexVar="pageIndex">
                    <ice:outputFormat value="{0} cars found, displaying {1} car(s), from {2} to {3}. Page {4} / {5}." styleClass="standard">
                        <f:param value="#{rowsCount}"></f:param>
                        <f:param value="#{displayedRowsCount}"></f:param>
                        <f:param value="#{firstRowIndex}"></f:param>
                        <f:param value="#{lastRowIndex}"></f:param>
                        <f:param value="#{pageIndex}"></f:param>
                        <f:param value="#{pageCount}"></f:param>
                    </ice:outputFormat>
                </ice:dataPaginator>
                
            		</ice:form>	</h:body></f:view></html>