<ice:panelCollapsible xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:h="http://java.sun.com/jsf/html"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  xmlns:ui="http://java.sun.com/jsf/facelets"
		  id="bulkUploadSearchPanel" expanded="#{groupManagementBean.collapsedBulkSearch}"
		  actionListener="#{groupManagementBean.closePanels}"
		  action="#{groupManagementBean.loadBulkUploadLists}">
	<f:facet name="header">
		<ice:panelGroup>
			<ice:outputText id="bulkUploadSearchTitle" value="#{msg['member.search.bulkupload.title']}"/>
		</ice:panelGroup>
	</f:facet>
	<ice:panelDivider dividerPosition="30" orientation="vertical" style="width: 100%;">
		<f:facet name="first">
			<ice:panelGrid columnClasses="hanDatatableElementLeft">
				<ice:panelGroup>
					<ice:outputText value="#{msg['member.search.bulkupload.info']}"/><br/>
					<ice:outputText value="#{msg['member.search.bulkupload.info2']}"/>
				</ice:panelGroup>
				<ice:inputText value="#{groupManagementBean.bulkListNameFilter}"/>
				
				<ice:panelGrid columns="2">
					<ice:commandButton value="#{msg['members.search.title']}"
									   action="#{groupManagementBean.loadBulkUploadLists}"/>
					<ice:commandButton value="#{msg['members.search.clean.title']}"
									   action="#{groupManagementBean.loadBulkUploadLists}"
									   actionListener="#{groupManagementBean.cleanBulkNameListener}"/>
				</ice:panelGrid>
			</ice:panelGrid>
		</f:facet>
		<f:facet name="second">
			<ice:panelGroup styleClass="exampleBox" style="border: none; background: #f5f5f5; margin-top: 0;">
				<ui:include src="../groupManagement/bulkUploadLists.xhtml" />
			</ice:panelGroup>
		</f:facet>
	</ice:panelDivider>
</ice:panelCollapsible>