<ice:panelCollapsible xmlns="http://www.w3.org/1999/xhtml"
					  xmlns:f="http://java.sun.com/jsf/core"
					  xmlns:h="http://java.sun.com/jsf/html"
					  xmlns:ice="http://www.icesoft.com/icefaces/component"
					  xmlns:ui="http://java.sun.com/jsf/facelets"
					  id="criteriaPanel" expanded="#{groupManagementBean.collapsedCriteriaSearch}"
					  actionListener="#{groupManagementBean.closePanels}"
					  action="#{groupManagementBean.toggleCriteria}">
	<f:facet name="header">
		<ice:panelGroup>
			<ice:outputText id="criteriaPanelHeader" value="#{msg['members.criteria.title']}" />
		</ice:panelGroup>
	</f:facet>
	<ice:panelGroup rendered="#{groupManagementBean.collapsedCriteriaSearch}">
		<ice:outputText value="#{msg['members.criteria.caption']}" /><br />
		<ice:outputText value="#{msg['members.criteria.caption2']}" /><br />
		<ice:outputText value="#{msg['members.criteria.caption3']}" /><br />
		<ice:outputText value="#{msg['members.criteria.caption4']}" /><br />
		<ice:outputText value="#{msg['members.criteria.note']}" /><br />
		<ice:outputText value="#{msg['members.criteria.chicago.only.note']}" /><br /><br />
		<ice:outputText value="#{msg['member.group.search.chicago']}" />
		<ice:selectBooleanCheckbox value="#{groupManagementBean.onlySelectChicago}"
								   valueChangeListener="#{groupManagementBean.onlyChicagoChanged}"
								   partialSubmit="true" />
	</ice:panelGroup>
	<ice:panelGrid columns="2" width="100%" columnClasses="hanDatatableElementLeft"
				   rendered="#{groupManagementBean.collapsedCriteriaSearch}">
		
		<ice:outputText value="#{msg['groupManagement.organizationType']}" style="font-weight: bold;"/>
		<ice:outputText value="#{msg['groupManagement.organization']}" style="font-weight: bold;"/>
		
		<ice:selectOneListbox id="selectedOrgTypes" value="#{groupManagementBean.selectedOrganizationTypes}"
							   partialSubmit="true" style="width: 100%;" size="10"
							   valueChangeListener="#{groupManagementBean.organizationTypesChanged}">
			<f:selectItems id="selectOrgTypesItems" value="#{groupManagementBean.organizationTypes}"/>
		</ice:selectOneListbox>		
		<ice:selectManyListbox id="selectedOrganizations" value="#{groupManagementBean.selectedOrganizations}"
							   partialSubmit="true" style="width: 100%" size="10"
							   valueChangeListener="#{groupManagementBean.organizationChanged}">
			<f:selectItems id="selectOrganizationsItems" value="#{groupManagementBean.organizations}"/>
		</ice:selectManyListbox>
		<!-- 
		<ice:commandButton value="#{msg['members.add']}" action="#{groupManagementBean.addOrganizationType}"/>
		<ice:commandButton value="#{msg['members.add']}" action="#{groupManagementBean.addOrganization}"/>
		 -->
		<ice:outputText value="#{msg['groupManagement.areaField']}" style="font-weight: bold;"/>
		<ice:outputText value="#{msg['groupManagement.role']}" style="font-weight: bold;"/>
	
		<ice:selectManyListbox id="selectedAreaFields" value="#{groupManagementBean.selectedAreaFields}"
							   partialSubmit="true" style="width: 100%" size="10"
							   valueChangeListener="#{groupManagementBean.areaFieldChanged}">
			<f:selectItems id="selectAreaFieldsItems" value="#{groupManagementBean.areaFields}"/>
		</ice:selectManyListbox>
		<ice:selectManyListbox id="selectedRoles" value="#{groupManagementBean.selectedRoles}"
							   partialSubmit="true" style="width: 100%" size="10"
							   valueChangeListener="#{groupManagementBean.roleChanged}">
			<f:selectItems id="selectRolesItems" value="#{groupManagementBean.roles}"/>
		</ice:selectManyListbox>
		<!-- 
		<ice:commandButton value="#{msg['members.add']}" action="#{groupManagementBean.addAreaField}"/>
		<ice:commandButton value="#{msg['members.add']}" action="#{groupManagementBean.addRole}"/>
		 -->
		<ice:commandButton value="#{msg['members.add.filter']}" action="#{groupManagementBean.addFilter}" />
	</ice:panelGrid>
</ice:panelCollapsible>