<ice:panelGrid xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:h="http://java.sun.com/jsf/html"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  xmlns:ui="http://java.sun.com/jsf/facelets"
		  columns="1" columnClasses="hanDatatableElementLeft"
		  width="100%">
	<ice:outputText value="#{msg['members.foundUsers.title']}" style="font-weight: bold;" />
	<ice:outputText value="#{msg['members.foundUsers.caption']}"/>	
	
	<ice:panelGroup>
		<ice:dataTable id="foundUsers" var="user" value="#{groupManagementBean.foundUsers}"
					   rows="#{msg['page.size']}" scrollable="false" cellpadding="0"
					   columnWidths="60px,150px,150px,250px,250px"
					   columnClasses="hanDatatableElement,hanDatatableElementLeft,
					   hanDatatableElementLeft,hanDatatableElementLeft,hanDatatableElementLeft"
					   sortColumn="#{groupManagementBean.sortColumn}" sortAscending="#{groupManagementBean.ascending}"
					   width="100%">
			<ice:column>
				<ice:rowSelector id="selected" value="#{user.selected}" multiple="true"
								 selectionListener="#{groupManagementBean.userSelected}" />
				<f:facet name="header">
					<ice:commandSortHeader columnName="id"
										   value="#{msg['members.id.title']}"
										   immediate="true" />
				</f:facet>
				<ice:outputText id="number" value="#{user.id}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:commandSortHeader columnName="firstName"
										   value="#{msg['members.firstName.title']}"
										   immediate="true" />
				</f:facet>
				<ice:outputText id="firstName" value="#{user.firstName}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:commandSortHeader columnName="lastName"
										   value="#{msg['members.lastName.title']}"
										   immediate="true" />
				</f:facet>
				<ice:outputText id="lastName" value="#{user.lastName}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:commandSortHeader columnName="organization"
										   value="#{msg['members.organization.title']}"
										   immediate="true" />
				</f:facet>
				<ice:outputText id="organization" value="#{user.organization}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:commandSortHeader columnName="role"
										   value="#{msg['members.role.title']}"
										   immediate="true" />
				</f:facet>
				<ice:outputText id="role" value="#{user.role}" />
			</ice:column>
		</ice:dataTable>
	
		<ice:dataPaginator id="foundUsersHeaderScroll" for="foundUsers" rendered="true"
						   rowsCountVar="rowsCount" displayedRowsCountVar="displayedRowsCountVar"
						   firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex"
						   pageCountVar="pageCount" pageIndexVar="pageIndex">
			<ice:outputFormat value="#{msg['members.foundUsers.paginator.info']}"
							  styleClass="standard">
				<f:param value="#{rowsCount}" />
				<f:param value="#{displayedRowsCountVar}" />
				<f:param value="#{firstRowIndex}" />
				<f:param value="#{lastRowIndex}" />
				<f:param value="#{pageIndex}" />
				<f:param value="#{pageCount}" />
			</ice:outputFormat>
		</ice:dataPaginator>
		<ice:dataPaginator id="foundUsersFooterScroll" for="foundUsers" rendered="true" fastStep="3"
						   pageCountVar="pageCount" pageIndexVar="pageIndex"
						   paginator="true" paginatorMaxPages="4">
			<f:facet name="first">
				<ice:graphicImage id="firstpage"
					url="#{msg['icefaces.paginator.first.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="last">
				<ice:graphicImage id="lastpage"
					url="#{msg['icefaces.paginator.last.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="previous">
				<ice:graphicImage id="previouspage"
					url="#{msg['icefaces.paginator.previous.button.image']}"
					style="border:none;"
					title="#{msg['page.dataScrolling.previouspage']}" />
			</f:facet>
			<f:facet name="next">
				<ice:graphicImage id="nextpage"
					url="#{msg['icefaces.paginator.next.button.image']}"
					style="border:none;" />
			</f:facet>
		</ice:dataPaginator>
	</ice:panelGroup>
</ice:panelGrid>