.clipboard {
    border: none;
    float: left;
    min-height: 50px;
}

.clipboard span {
    font-size: x-large;
    margin-left: 40px;
}

.divider {
    clear: both;
    min-height: 10px;
}

.sponsor-button {
    float: right;
}
