<ui:component xmlns="http://www.w3.org/1999/xhtml"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGrid columns="1">
		<ice:panelGrid columns="1" styleClass="exampleBox menuBarContainer">
			<ice:tree id="folderList" var="node" hideRootNode="false" value="#{folderBean.model}"
					  hideNavigation="false">
				<ice:treeNode>
					<f:facet name="icon">
						<ice:panelGroup style="display: inline">
							<ice:graphicImage value="/css/images/navigation_tree/#{node.userObject.icon}"/>
						</ice:panelGroup>
					</f:facet>
					<f:facet name="content">
						<ice:panelGroup styleClass="selectedNode#{node.userObject eq folderBean.currentSelection}"
										style="display: inline" >
							<ice:commandLink action="#{messageBean.loadMessages}"
											 actionListener="#{folderBean.reload}"
											 value="#{node.userObject.text}"
											 styleClass="selectedNode#{node.userObject eq folderBean.currentSelection}">
								<f:setPropertyActionListener value="#{node.userObject.fullName}"
															 target="#{messageBean.folderName}" />
								<f:setPropertyActionListener value="#{node.userObject}"
															 target="#{folderBean.currentSelection}" />
							</ice:commandLink>
						</ice:panelGroup>
					</f:facet>
				</ice:treeNode>
			</ice:tree>
			<ice:panelGrid columns="3">
				<ice:commandButton value="#{msg['email.inbox.folder.new']}"
								   actionListener="#{folderBean.toggleNewFolder}" />
				<ice:commandButton value="#{msg['email.inbox.folder.delete']}"
								   actionListener="#{folderBean.toggleDeleteFolder}" />
				<ice:commandButton value="#{msg['email.inbox.folder.rename']}"
								   actionListener="#{folderBean.toggleRenameFolder}" />
			</ice:panelGrid>
			<ice:commandButton value="#{msg['email.inbox.folder.trash.empty']}"
							   actionListener="#{folderBean.toggleTrash}"
							   action="#{messageBean.loadMessages}" />
		</ice:panelGrid>
		<br />
		<ice:panelGrid columns="1" styleClass="exampleBox menuBarContainer">
			<ui:include src="quotaView.xhtml" />
		</ice:panelGrid>
	</ice:panelGrid>
	<ui:include src="newFolderPopup.xhtml" />
	<ui:include src="deleteFolderPopup.xhtml" />
	<ui:include src="renameFolderPopup.xhtml" />
	<ui:include src="emptyTrashPopup.xhtml" />
	<ui:include src="moveMessagesPopup.xhtml" />
</ui:component>