<ui:component xmlns="http://www.w3.org/1999/xhtml"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup style="width: 100%;">
		<ice:panelGroup>
			<!-- 
			<p>
			<ice:commandButton value="#{msg['email.inbox.folder.menu.new']}"
							   actionListener="#{composeMessageBean.newMessage}"
							   action="#{messageBean.loadMessages}" />
			<ice:commandButton value="#{msg['email.inbox.folder.menu.delete']}"
							   actionListener="#{messageBean.toggleDeleteMessages}" />
			<ice:commandButton value="#{msg['email.inbox.folder.menu.move']}"
							   actionListener="#{messageBean.toggleMove}" />
			</p>
			-->
			<ice:menuBar style="background-color: #E0E0E0;">
				<ice:menuItem value="#{msg['email.inbox.folder.menu.new']}"
							  actionListener="#{composeMessageBean.newMessage}"
							  action="#{messageBean.loadMessages}" />
				<ice:menuItem value="#{msg['email.inbox.folder.menu.move']}"
							  actionListener="#{messageBean.toggleMove}" />
				<ice:menuItem value="#{msg['email.inbox.folder.menu.delete']}">
					<ice:menuItem value="#{msg['email.inbox.folder.delete.move']}"
								  actionListener="#{messageBean.toggleDeleteMessages}">
						<f:param name="moveToTrash" value="true" />
					</ice:menuItem>
					<ice:menuItem value="#{msg['email.inbox.folder.delete.purge']}"
								  actionListener="#{messageBean.toggleDeleteMessages}">
						<f:param name="moveToTrash" value="false" />
					</ice:menuItem>
				</ice:menuItem>
			</ice:menuBar>
		</ice:panelGroup>
		<ice:outputText value="#{msg['email.inbox.folder.current']} #{folderBean.currentSelection.name}"
						style="font-weight: bold;" />
		<ice:dataTable id="folderMessages" var="message" value="#{messageBean.messages}" width="100%" rows="5"
					   sortColumn="#{messageBean.sortColumn}" sortAscending="#{messageBean.ascending}" style="width: 100%;"
					   columnClasses="hanDatatableElement,hanDatatableElementLeft,hanDatatableElementLeft,hanDatatableElement,hanDatatableElement,hanDatatableElement">
			<ice:column>
				<ice:rowSelector multiple="false" enhancedMultiple="false"
								 value="#{message.display}"
								 selectionListener="#{messageBean.messageSelected}"
								 preStyleOnSelection="false"
								 toggleOnInput="false"
								 selectionAction="#{folderBean.reload}" />
				<f:facet name="header">
					<ice:commandLink value="#{messageBean.selectAllCaption}"
									 actionListener="#{messageBean.toggleSelectAll}" />
				</f:facet>
				<ice:selectBooleanCheckbox value="#{message.selected}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:commandSortHeader columnName="from"
										   value="#{msg['email.inbox.folder.messages.from']}"
										   immediate="true" />
				</f:facet>
				<ice:outputText value=" #{message.from}" style="#{message.style}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:commandSortHeader columnName="subject"
										   value="#{msg['email.inbox.folder.messages.subject']}" />
				</f:facet>
				<ice:outputText value=" #{message.subject}" style="#{message.style}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:commandSortHeader columnName="date"
										   value="#{msg['email.inbox.folder.messages.date']}" />
				</f:facet>
				<ice:outputText value="#{message.date}" style="#{message.style}">
					<f:convertDateTime pattern="#{msg['han.date.format']}"
									   timeZone="#{msg['han.time.zone']}" />
				</ice:outputText>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:commandSortHeader columnName="size"
										   value="#{msg['email.inbox.folder.messages.size']}" />
				</f:facet>
				<ice:outputText value="#{message.formattedSize}" style="#{message.style}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<!-- <ice:commandSortHeader columnName="attachments" immediate="true"> -->
						<ice:graphicImage value="/images/paperclip.gif" />
					<!-- </ice:commandSortHeader> -->
				</f:facet>
				<ice:graphicImage value="/images/paperclip.gif" rendered="#{message.attachments}" />
			</ice:column>
		</ice:dataTable>
		<ice:panelGroup style="float:left; font-weight: normal;">
			<ice:dataPaginator id="messageScrollHeader" for="folderMessages" rendered="true"
							   rowsCountVar="rowsCount"
							   displayedRowsCountVar="displayedRowsCountVar"
							   firstRowIndexVar="firstRowIndex"
							   lastRowIndexVar="lastRowIndex"
							   pageCountVar="pageCount" pageIndexVar="pageIndex">
				<ice:outputFormat value="#{msg['email.inbox.folder.messages.paginator.info']}"
								  styleClass="standard">
					<f:param value="#{rowsCount}" />
					<f:param value="#{displayedRowsCountVar}" />
					<f:param value="#{firstRowIndex}" />
					<f:param value="#{lastRowIndex}" />
					<f:param value="#{pageIndex}" />
					<f:param value="#{pageCount}" />
				</ice:outputFormat>
			</ice:dataPaginator>
			<ice:dataPaginator id="messageScrollFooter" for="folderMessages" fastStep="3"
							   pageCountVar="pageCount" pageIndexVar="pageIndex"
							   paginator="true" paginatorMaxPages="4" style="text-align: left;">
				<f:facet name="first">
					<ice:graphicImage id="firstpage_1"
						url="#{msg['icefaces.paginator.first.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="last">
					<ice:graphicImage id="lastpage_1"
						url="#{msg['icefaces.paginator.last.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="previous">
					<ice:graphicImage id="previouspage_1"
						url="#{msg['icefaces.paginator.previous.button.image']}"
						style="border:none;"
						title="#{msg['page.dataScrolling.previouspage']}" />
				</f:facet>
				<f:facet name="next">
					<ice:graphicImage id="nextpage_1"
						url="#{msg['icefaces.paginator.next.button.image']}"
						style="border:none;" />
				</f:facet>
			</ice:dataPaginator>
		</ice:panelGroup>
	</ice:panelGroup>
	<ui:include src="deleteMessagesPopup.xhtml" />
</ui:component>