<ui:component xmlns="http://www.w3.org/1999/xhtml"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup>
		<ice:outputText value="Quota Usage: #{folderBean.quota.used}%" style="font-weight: bold;" />
		<p>
			<ice:outputText value="You are using " />
			<ice:outputText value="#{folderBean.quota.usage}">
				<f:convertNumber groupingUsed="true" />
			</ice:outputText>
			<ice:outputText value="KB of a max allowable " />
			<ice:outputText value="#{folderBean.quota.limit}">
				<f:convertNumber groupingUsed="true" />
			</ice:outputText>
			<ice:outputText value="KB" />
		</p>
		<p>
			<ice:outputText value="#{msg['email.inbox.overquota.warning.message']}"
							rendered="#{folderBean.quota.warning}" escape="false" />
		</p>
	</ice:panelGroup>
</ui:component>